*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 80px;
    background-color: rgb(223, 222, 181);
}

.encabezado{
    font-size: 60px;
}

.nav{
    text-align: right;
    position: relative;
}

.nav a{
    text-decoration: none;
    border: 1px solid black;
    margin: 2px;
    padding: 3px;
    background-color: hsl(229, 64%, 63%);
    color: antiquewhite;
    font-size: 18px;
    box-shadow: 2px 2px black;
}

#home,#about,#contact{
    background-color: #77DD77;
}

.banner{
    width: 100%;
}

.figure1{
    display: inline;
    position: absolute;
    right: 80px;
}
.hockey1{
    width: 360px;
}

.pie_banner{
    text-align: center;
    font-size: 30px;
    border: 1px solid black;
}

.player_about{
    position: absolute;
    width: 400px;
    right: 80px;
}

.logo1{
    width: 130px;
    display: inline-block;
}
.logo{
    width: 230px;
    display: inline-block;
    position: absolute;
}

article{
    display:inline-block;
    position: absolute;
    left: 320px;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 100px;
}
.about{
    font-size: 20px;
    padding: 10px 480px 100px 10px;
}
.hockey3{
    position: absolute;
    display: inline-block;
    right: 80px;
    padding-bottom: 100px;
}

.email{
    position: absolute;
    display: inline-block;
    left: 320px;
    padding-top: 30px;
}

